.vscode
.ipynb_checkpoints
.lh
__pycache__

data/.DS_Store

!data/dict/afinn.csv
!data/dict/stop_words.txt
data/dict

data/preprocessed

data/relation
!data/relation/graph_dependency_v2.ipynb
!data/relation/graph_semantic_v2.ipynb

data/test
data/train
!data/train/preprocess_data.ipynb
!data/train/creat_affin.ipynb

model/ASSA_emb.py

model_result
seed
!seed/asp/asp_seeds_AMAZON.txt
!seed/asp/asp_seeds_YELP.txt
!seed/sen/AMAZON/AMAZON_sent_baseline.txt
!seed/sen/YELP/YELP_sent_baseline.txt

TextGCN/data_textgcn
TextGCN/build_graph_dep.py
TextGCN/build_graph_neu.py
TextGCN/train_advj.py
TextGCN/train_gen.py
TextGCN/train_neu.py

TGCN/data_tgcn
TGCN/build_graph_tgcn_word.py
TGCN/train_tgcn_advj.py