absl-py==0.13.0
alive-progress==1.6.1
astor==0.8.1
backcall==0.2.0
bleach==1.5.0
cached-property==1.5.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
dataclasses==0.8
decorator==4.4.2
demjson==2.2.4
filelock==3.0.12
gast==0.5.2
gdown==3.12.2
gensim==4.0.1
grpcio==1.38.0
h5py==3.1.0
html5lib==0.9999999
idna==2.10
importlib-metadata==4.6.3
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
lxml==4.6.3
Markdown==3.3.4
networkx==2.5.1
nltk==3.5
numpy==1.19.5
pandas==1.1.5
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
protobuf==3.17.3
ptyprocess==0.7.0
Pygments==2.9.0
PyMySQL==1.0.2
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
pyzmq==22.1.0
rdflib==5.0.0
rdflib-jsonld==0.5.0
regex==2020.11.13
requests==2.24.0
scikit-learn==0.24.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
smart-open==5.1.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.8.1
tornado==6.1
tqdm==4.57.0
traitlets==4.3.3
typing-extensions==3.10.0.0
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==2.0.1
xmltodict==0.12.0
zipp==3.5.0

# extra
decorator
six
pandas
h5py
torch
tensorflow
app
astor
paddlepaddle==2
jieba